[submodule "roles/murphywants-ansible-role-component-docker"]
	path = roles/murphywants-ansible-role-component-docker
	url = git@github.com:MurphyWants/murphywants-ansible-role-component-docker.git
[submodule "roles/murphywants-ansible-role-application-homeassistant"]
	path = roles/murphywants-ansible-role-application-homeassistant
	url = git@github.com:MurphyWants/murphywants-ansible-role-application-homeassistant.git
[submodule "roles/murphywants-ansible-role-baseline-ubuntu"]
	path = roles/murphywants-ansible-role-baseline-ubuntu
	url = git@github.com:MurphyWants/murphywants-ansible-role-baseline-ubuntu.git
[submodule "roles/murphywants-ansible-role-application-vaultwarden"]
	path = roles/murphywants-ansible-role-application-vaultwarden
	url = git@github.com:MurphyWants/murphywants-ansible-role-application-vaultwarden.git
[submodule "roles/murphywants-ansible-role-application-pihole"]
	path = roles/murphywants-ansible-role-application-pihole
	url = git@github.com:MurphyWants/murphywants-ansible-role-application-pihole.git
[submodule "roles/murphywants-ansible-role-application-Freshrss"]
	path = roles/murphywants-ansible-role-application-Freshrss
	url = git@github.com:MurphyWants/murphywants-ansible-role-application-Freshrss.git
[submodule "roles/murphywants-ansible-role-baseline-proxmox"]
	path = roles/murphywants-ansible-role-baseline-proxmox
	url = git@github.com:MurphyWants/murphywants-ansible-role-baseline-proxmox.git
[submodule "roles/murphywants-ansible-role-application-nextcloud"]
	path = roles/murphywants-ansible-role-application-nextcloud
	url = git@github.com:MurphyWants/murphywants-ansible-role-application-nextcloud.git
[submodule "roles/murphywants-ansible-role-component-dehydrated"]
	path = roles/murphywants-ansible-role-component-dehydrated
	url = https://github.com/MurphyWants/murphywants-ansible-role-component-dehydrated
[submodule "roles/murphywants-ansible-role-application-grocy"]
	path = roles/murphywants-ansible-role-application-grocy
	url = git@github.com:MurphyWants/murphywants-ansible-role-application-grocy.git
[submodule "roles/murphywants-ansible-role-application-bookstack"]
	path = roles/murphywants-ansible-role-application-bookstack
	url = git@github.com:MurphyWants/murphywants-ansible-role-application-bookstack.git
[submodule "roles/murphywants-ansible-role-application-forgejo"]
	path = roles/murphywants-ansible-role-application-forgejo
	url = git@github.com:MurphyWants/murphywants-ansible-role-application-forgejo.git
[submodule "roles/murphywants-ansible-role-application-planka"]
	path = roles/murphywants-ansible-role-application-planka
	url = git@github.com:MurphyWants/murphywants-ansible-role-application-planka.git
[submodule "roles/murphywants-ansible-role-application-mealie"]
	path = roles/murphywants-ansible-role-application-mealie
	url = https://github.com/MurphyWants/murphywants-ansible-role-application-mealie
[submodule "roles/murphywants-ansible-role-application-homepage"]
	path = roles/murphywants-ansible-role-application-homepage
	url = git@github.com:MurphyWants/murphywants-ansible-role-application-homepage.git
[submodule "roles/murphywants-ansible-role-application-hoarderapp"]
	path = roles/murphywants-ansible-role-application-hoarderapp
	url = git@github.com:MurphyWants/murphywants-ansible-role-application-hoarderapp.git
